@model DisplayList<Board>

<form method="get">
    <div class="row">
        <div class="col-1">
            <select id="dropDown" name="pageSize" asp-for="PageSize" class="form-select" onchange="document.getElementById('btnSubmit').click();">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>40</option>
            </select>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-1">
                    <label class="col-form-label">검색어</label>
                </div>
                <div class="col-2">
                    <input type="text" name="seachString" class="form-control" value="@ViewData["seachString"]"/>
                </div>
                <div class="col-2">
                    <input type="submit" class="btn btn-secondary" value="검색" />
                </div>
            </div>
        </div>
        <div class="col-2">
            <a asp-controller="Board" asp-action="Create" class="btn btn-primary mb-2 float-end">게시글 작성</a>
        </div>
    </div>

    <table class="table table-borderless border-bottom">
        <thead class="border-top border-bottom">
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m[0].Number)</th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].Title)</th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].CreateDate)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Number</td>
                    <td>@item.Title</td>
                    <td>@item.CreateDate</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Board" asp-action="Edit" asp-route-id="@item.Number">수정</a>
                        @*<a class="btn btn-danger" asp-controller="Board" asp-action="Delete" asp-route-id="@item.Number">게시글 삭제</a>*@
                        @*<button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger">삭제</button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : string.Empty;
        var nextDisabled = !Model.HasNextPage ? "disabled" : string.Empty;
    }

    <div id="indexDiv" class="btn-toolbar justify-content-center">
        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" asp-route-pageSize="temp" asp-route-seachString="@ViewData["seachString"]" id="testA" class="btn btn-default @prevDisabled">이전</a>

        <div class="btn-group">
            @for(var i = 1; i <= Model.TotalPages; i++)
            {
                <a asp-action="Index" asp-route-page="@i" asp-route-pageSize="temp" asp-route-seachString="@ViewData["seachString"]" class="btn btn-secondary">@i</a>
            }
        </div>

        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" asp-route-pageSize="temp" asp-route-seachString="@ViewData["seachString"]" class="btn btn-default @nextDisabled">다음</a>
    </div>

    <input id="btnSubmit" hidden type="submit" />
</form>

@section scripts{
    <script>
        let pageSize = $("#dropDown").val();

        $("table, a").click(function (e){

            e.preventDefault();

            let url = $(this).attr("href");
                
            url = url.replace("temp", pageSize);

            window.location.href = url;
        })
    </script>
@*<script>
    $("#dropDown").change(function (){
    $.ajax({
    type : "Get",
    url : "/Board/ShowDisplayList?pageSize=" + $(this).val(),
    success : function (data){
    $("#partialContainer").html("");
    $("#partialContainer").html(data);
    },
    error : function (response){
    console.log(response.responseText);
    }
    })
    })
    </script>*@
}